.navBoxMob {
  display: flex;
  align-items: center;
  position: relative;
  padding: 25px 30px;

  .mobMenu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
  
    .burgerInput {
      display: none;
    }
  
    .burger {
      width: 40px;
      height: 40px;
      background-color: #DA051F;
      border-radius: 8px;
      position: relative;
      z-index: 5;
    }
    
    .burger::after {
      content: "";
      position: absolute;
      top: 30%;
      left: 15%;
      width: 28px;
      height: 4px;
      border-radius: 20px;
      background: #fff;
    
      transition: 1s ease;
    }
    
    .burger::before {
      content: "";
      position: absolute;
      top: 60%;
      left: 45%;
      width: 16px;
      height: 4px;
      border-radius: 20px;
      background: #fff;
    
      transition: 1s ease;
    }
    
    .burgerInput:checked ~ label .burger::after {
      transform: rotate(225deg);
      top: 45%;
      left: 15%;
    }
    
    .burgerInput:checked ~ label .burger::before {
      transform: rotate(-225deg);
      width: 28px;
      height: 4px;
      top: 45%;
      left: 15%;
    }
  
    .menuBox {
      padding: 20px 30px;
      background-color: #DA051F;
      position: absolute;
      top: 80px;
      right: 30px;
      border-radius: 12px;
      flex-direction: column;
      z-index: 5;
      text-align: center;
  
      transition: all ease 1s;
  
      .linksMob {      
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        list-style: none;
  
        a {
          width: 100%;
          text-decoration: none;
          color: #fff;
          font-size: 18px;
          text-align: center;
        }
      }
    }
    .hiddenMenuBox {
      right: -450px;
    }
  }
}