.partTwoBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.25rem 1.875rem 1.25rem;
  align-items: center;

  .sectionOne {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 9.375rem;
    flex-wrap: wrap;

    .rowOne {
      display: flex;
      flex-direction: column;
      text-align: end;
      justify-content: flex-end;
      gap: 1.875rem;

      p {
        font-size: 2rem;
        font-weight: 500;
        color: #49494a;

        .red {
          color: #da051f;
        }

        .bigGray {
          font-size: 2.5rem;
        }

        .bigRed {
          color: #da051f;
          font-size: 2.5rem;
        }
      }

      .optionCity {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.94rem;

        p {
          font-size: 1.375rem;
        }

        .cities {
          font-size: 1.375rem;
          outline: none;
          border: none;
          border-radius: 12px;
          color: #49494a;
          background-color: #e6e6e6;
          height: 3.125rem;
          padding-left: 1.25rem;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-image: url(../public/images/expand.svg);
          background-repeat: no-repeat;
          background-position: right;
          

          &::-webkit-scrollbar {
            width: fit-content;
            background-color: none;
          }

          &::-webkit-scrollbar-track {
            background-color: none;
          }

          &::-webkit-scrollbar-thumb {
            width: 0.625rem;
            background-color: #da051f;
            border-radius: 2px;
          }
        }
      }
    }

    .rowTwo {
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: #da051f;
      padding: 2.5rem 2.19rem;
      width: 27.81rem;
      color: #fff;
      gap: 1.25rem;
      border-radius: 18px;

      h3 {
        font-size: 1.375rem;
        font-weight: 600;
      }      
    }
  }

  .sectionTwo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 5rem 0 2rem 0;

    .where {
      width: max-content;
      position: absolute;
      background-color: #da051f;
      padding: 0.94rem;
      border-radius: 12px;
      color: #fff;
      font-weight: 900;
      font-size: 1.81rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%, -5%);
      z-index: 9999;
      
      p {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
      }
    }
  }

  .sectionThree {
    display: flex;
    width: 100%;
    gap: 3.125rem;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 3.75rem 0 3.75rem;
    flex-wrap: wrap;
    

    .obs {
      text-align: right;
      color: #49494a; 
      font-weight: 600;
      font-size: 35px;
      line-height: 41px;
      text-align: right;
      letter-spacing: -0.025em;  

      .redText {
        color: #da051f;
      }
    }

    .videoBox iframe {
      border-radius: 18px;
    }
  }
  
  @media (max-width: 1024px) {
    padding: .875rem 0;

    .sectionOne {
      padding: 0 1.375rem;
      gap: 2rem;
      justify-content: center;
    }

    .sectionTwo {
      .where {
        text-align: center;
        width: 77%;
        word-wrap: break-word;
        font-size: 1rem;

        p {
          font-size: .875rem;
          font-weight: 500;
        }
      }
    }

    .sectionThree {
      gap: 2.125rem;
      padding: .875rem 1rem 0 1rem;

      .obs {
        font-size: 24px;
        line-height: 30px;
      }

      .videoBox iframe {
        width: max-content !important;
      }
    }    
  }
}