.sectionTwoBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  align-items: center;

  .columnOneSectionTwo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;

    .testimony {
      width: 35%;
      background-color: #da051f;
      border-radius: 18px;
      display: flex;
      flex-direction: column;
      text-align: center;
      color: #fff;
      padding: 45px 35px;
      gap: 30px;
      height: 414px;

      h3 {
        font-size: 29px;
        font-weight: 900;
      }

      .carousel {
        p { 
          font-size: 22px;
          margin-bottom: 20px;
  
          span {
            font-weight: 700;
          }
        }
  
      }
      
    }
  }

  .columnTwoSectionTwo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 50px;

    .where {
      position: absolute;
      background-color: #da051f;
      width: 750px;
      height: 70px;
      border-radius: 12px;
      color: #fff;
      font-weight: 900;
      font-size: 29px;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 20px;
      left: 230px;
    }
  }

  .columnThreeSectionTwo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    margin-top: 50px;

    .rowOne {
      display: flex;
      flex-direction: column;
      text-align: end;
      justify-content: flex-end;
      gap: 30px;

      p {
        font-size: 36px;
        font-weight: 500;
        color: #49494a;

        .bigGray {
          font-size: 46px;
        }

        .bigRed {
          color: #da051f;
          font-size: 46px;
        }
      }

      .optionCity {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;

        p {
          font-size: 22px;
        }

        .cities {
          font-size: 22px;
          outline: none;
          border: none;
          border-radius: 12px;
          color: #49494a;
          background-color: #e6e6e6;
          height: 50px;
          padding-left: 20px;
        }
      }
    }

    .rowTwo {
      display: flex;
      flex-direction: column;
      text-align: center;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}